$red:             #f44336 !default;
$pink:            #e91e63 !default;
$purple:          #9c27b0 !default;
$deep-purple:     #673ab7 !default;
$indigo:          #3f51b5 !default;
$blue:            #2196f3 !default;
$light-blue:      #03a9f4 !default;
$cyan:            #00bcd4 !default;
$teal:            #009688 !default;
$green:           #4caf50 !default;
$light-green:     #8bc34a !default;
$lime:            #cddc39 !default;
$yellow:          #fec60a !default;
$amber:           #ffc107 !default;
$orange:          #ff9800 !default;
$deep-orange:     #ff5722 !default;
$brown:           #795548 !default;

$primary:         #1f91f3;
$success:         #2b982b;
$info:            #00b0e4;
$warning:         #ff9600;
$danger:          #fb483a;


$grey-50:         #fafafa !default;
$grey-100:        #f5f5f5 !default;
$grey-200:        #eeeeee !default;
$grey-300:        #e0e0e0 !default;
$grey-400:        #bdbdbd !default;
$grey-500:        #9e9e9e;  $rgb-grey-500: "158, 158, 158" !default;
$grey-600:        #757575 !default;
$grey-700:        #616161 !default;
$grey-800:        #424242 !default;
$grey-900:        #212121 !default;
$grey-A100:       #f5f5f5 !default;
$grey-A200:       #eeeeee !default;
$grey-A400:       #bdbdbd !default;
$grey-A700:       #616161 !default;
$grey: $grey-500 !default;


$blue-grey-50:    #eceff1 !default;
$blue-grey-100:   #cfd8dc !default;
$blue-grey-200:   #b0bec5 !default;
$blue-grey-300:   #90a4ae !default;
$blue-grey-400:   #78909c !default;
$blue-grey-500:   #607d8b !default;
$blue-grey-600:   #546e7a !default;
$blue-grey-700:   #455a64 !default;
$blue-grey-800:   #37474f !default;
$blue-grey-900:   #263238 !default;
$blue-grey-A100:  #cfd8dc !default;
$blue-grey-A200:  #b0bec5 !default;
$blue-grey-A400:  #78909c !default;
$blue-grey-A700:  #455a64 !default;
$blue-grey: $blue-grey-500 !default;


$black: #000000; $rgb-black: "0,0,0" !default;
$white: #ffffff; $rgb-white: "255,255,255" !default;
