$blue-1: #2193b0 !default;
$blue-2: #6dd5ed !default;

.theme-blue{

    ::selection {
        color: $white; 
        background: $blue-1;
    }
    .bars {
        color: $white;
    }

    .color-bg,
    .morphsearch.open,
    .wizard .steps .current a,
    .profile-page .profile-sub-header .box-list ul li a:hover,
    .fc .fc-toolbar,
    .blog-page .single-blog-post .img-holder .date-box { background:linear-gradient(45deg, $blue-1, $blue-2); }

    .navbar-brand {
        color: $white;
        &:hover,
        &:active,
        &:focus{
            color: $white;
        }
    }

    .nav > li > a {
        color: $white;
        &:hover,
        &:focus{
            background-color: transparent;
        }
    }
    .nav .open > a {
        background-color: transparent;
        &:hover,
        &:focus{
            background-color: transparent;
        }
    }
    .sidebar{
        .menu{
            .list{
                li.active {
                    background-color: transparent;

                    >:first-child i,
                    >:first-child span,{
                        color: $blue-1;
                    }
                }
                .toggled { background-color: transparent; }
                .ml-menu { background-color: transparent; }
            }
        }
        .legal .copyright a { color: $blue-2 !important; }
        .morphsearch .dummy-column h2 { color: $blue-1; }
    }

    .nav-tabs>li>a:before,
    .input-group .form-line:after,
    .nav-tabs .nav-link.active { border-bottom: 2px solid $blue-2 !important; }
}