

<body class="home page-template-default page page-id-2509 wp-embed-responsive theme-medilink woocommerce-no-js non-stick header-style-1 non-trheader carton no-sidebar product-grid-view elementor-default elementor-kit-2956 elementor-page elementor-page-2509">
	<div id="preloader" style="background-image:url(/wp-content/uploads/2021/03/giphy.gif);"></div>	<div id="page" class="site site-wrp">
		<a class="skip-link screen-reader-text" href="#content">
			Skip to content</a>	
										<header id="masthead" class="site-header mobile-menu-open">
							<div class="masthead-container header-style1">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-sm-2 col-xs-12">
				<div class="site-branding">
					<a class="dark-logo" href="/"><img src="/wp-content/uploads/medic-media-logo.png" alt="Medic Media"></a>
					<a class="light-logo" href="/"><img src="/wp-content/uploads/medic-media-logo.png" alt="Medic Media"></a>
				</div>
			</div>
			<div class="col-sm-8 col-xs-12">
				<div class="header-icon-area header-action-items-layout2">
		<div class="clear"></div>								
</div>				<div id="site-navigation" class="main-navigation">
					<nav class="menu-home-1-onepage-container"><ul id="menu-home-1-onepage" class="menu"><li id="menu-item-3060" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2509 current_page_item menu-item-3060"><a href="/" aria-current="page">Home</a></li>
<li id="menu-item-2515" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2515"><a href="#about">About</a></li>
<li id="menu-item-2517" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2517"><a href="#service">Services</a></li>
<li id="menu-item-2658" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2658"><a href="#speciality">speciality</a></li>
<li id="menu-item-2520" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2520"><a href="#features">Features</a></li>
<li id="menu-item-2523" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2523"><a href="/signin">Appointment</a></li>
<li id="menu-item-2532" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2532"><a href="#contact">Contact</a></li>
</ul></nav>				</div>
			</div>
								<div class="col-lg-2 col-md-2 d-none d-lg-block">
						<ul class="header-action-items">
						    <li>
						        <a href="/signin" title="Appointment" class="btn-fill color-yellow btn-header">Login</a>
						    </li>
						</ul>
				</div>
			  		</div>		
	</div>
</div>						</header>	

						<div id="meanmenu" class="mobile-menu-wrp">	
								

								<div class="mobile-menu-right">							
									<div class="top-mobile-menu-new">					
									
										<ul class="header-action-items">
												
												
													
													    <li class="phone-has-btn">
													        <a href="/signin" title="Appointment" class="btn-fill color-yellow btn-header">Login</a>
													    </li>
												
																														
										</ul>
										
									</div>
								</div>

							
					</div>							
				<div id="content" class="site-content">
							<div id="primary" class="content-area event-page-area">
	<div class="container">
		<div class="row">
						<div class="col-sm-12 col-xs-12">
				<main id="main" class="site-main ">
											<article id="post-2509" class="post-2509 page type-page status-publish hentry">
		<div class="entry-content">
				<div data-elementor-type="wp-post" data-elementor-id="2509" class="elementor elementor-2509" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-34dcade elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="34dcade" data-element_type="section" id="home" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6c3fbac" data-id="6c3fbac" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-cf4ff41 elementor--h-position-left elementor--v-position-middle elementor-arrows-position-inside elementor-pagination-position-inside elementor-widget elementor-widget-slides" data-id="cf4ff41" data-element_type="widget" data-settings="{&quot;navigation&quot;:&quot;both&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;transition&quot;:&quot;slide&quot;,&quot;transition_speed&quot;:500}" data-widget_type="slides.default">
				<div class="elementor-widget-container">
					<div class="elementor-swiper">
			<div class="elementor-slides-wrapper elementor-main-swiper swiper-container" dir="ltr" data-animation="fadeInLeft">
				<div class="swiper-wrapper elementor-slides">
					<div class="elementor-repeater-item-37552cb swiper-slide"><div class="swiper-slide-bg"></div><a class="swiper-slide-inner" href="/signin"><div class="swiper-slide-contents"><div class="elementor-slide-heading">Everyone NEEDS Accesible health</div><div class="elementor-slide-description">Zero unexpected urgent care and ER visits, Zero missed opportunities, Zero waiting room time, Zero drive time. We can work together to achieve managing populations with ZERO waste.</div><div  class="elementor-button elementor-slide-button elementor-size-sm">Register Today</div></div></a></div><div class="elementor-repeater-item-cae690b swiper-slide"><div class="swiper-slide-bg"></div><div class="swiper-slide-inner" ><div class="swiper-slide-contents"><div class="elementor-slide-heading">The Medic Media Vision</div><div class="elementor-slide-description">We look forward to the day when everyone everywhere will have access to their health data and health providers on secure open access networks where the patient owns their data.</div></div></div></div>				</div>
															<div class="swiper-pagination"></div>
																<div class="elementor-swiper-button elementor-swiper-button-prev">
							<i class="eicon-chevron-left" aria-hidden="true"></i>
							<span class="elementor-screen-only">Previous</span>
						</div>
						<div class="elementor-swiper-button elementor-swiper-button-next">
							<i class="eicon-chevron-right" aria-hidden="true"></i>
							<span class="elementor-screen-only">Next</span>
						</div>
												</div>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-83ae623 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="83ae623" data-element_type="section" id="about" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-d2dd16c" data-id="d2dd16c" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-83abdf5 elementor-widget elementor-widget-image" data-id="83abdf5" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="398" height="658" src="/wp-content/uploads/2019/02/about.png" class="attachment-full size-full" alt="" loading="lazy" srcset="https://test.bougieamerica.com//wp-content/uploads/2019/02/about.png 398w, https://test.bougieamerica.com//wp-content/uploads/2019/02/about-181x300.png 181w, https://test.bougieamerica.com//wp-content/uploads/2019/02/about-181x300@2x.png 362w" sizes="(max-width: 398px) 100vw, 398px" />											</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-de9d9b7" data-id="de9d9b7" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-17c7967 elementor-widget elementor-widget-heading" data-id="17c7967" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h1 class="elementor-heading-title elementor-size-default">VISITING A DOCTOR IS ONE TOUCH AWAY</h1>		</div>
				</div>
				<div class="elementor-element elementor-element-510943a elementor-widget elementor-widget-rt-text-with-title" data-id="510943a" data-element_type="widget" data-widget_type="rt-text-with-title.default">
				<div class="elementor-widget-container">
			<div class="rt-el-twt-1 about-box-layout1">	
	<div class="item-content">
								<p>Medicmedia has made it easier to reach any physician on the go, whether it's your frequent physician or a new one, you can now connect with them online through medic media.</p>					</div>
</div>
		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-55b5702" data-id="55b5702" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-d117a1f elementor-widget elementor-widget-rt-info-box" data-id="d117a1f" data-element_type="widget" data-widget_type="rt-info-box.default">
				<div class="elementor-widget-container">
			
<div class="about-box-layout2">
    <ul>
        <li><a href="/signin" >
        					<i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
				
		Book A Physician</a></li>       
    </ul>
</div>		</div>
				</div>
				<div class="elementor-element elementor-element-e8d86a2 elementor-widget elementor-widget-rt-info-box" data-id="e8d86a2" data-element_type="widget" data-widget_type="rt-info-box.default">
				<div class="elementor-widget-container">
			
<div class="about-box-layout2">
    <ul>
        <li><a href="/signin" >
        					<i class="fa fa-user-md" aria-hidden="true"></i>
				
		Doctors Appointment</a></li>       
    </ul>
</div>		</div>
				</div>
				<div class="elementor-element elementor-element-434d3db elementor-widget elementor-widget-rt-info-box" data-id="434d3db" data-element_type="widget" data-widget_type="rt-info-box.default">
				<div class="elementor-widget-container">
			
<div class="about-box-layout2">
    <ul>
        <li><a href="/signin" >
        					<i class="fa fa-map-marker" aria-hidden="true"></i>
				
		Clinic Session</a></li>       
    </ul>
</div>		</div>
				</div>
				<div class="elementor-element elementor-element-09d29ff elementor-widget elementor-widget-rt-info-box" data-id="09d29ff" data-element_type="widget" data-widget_type="rt-info-box.default">
				<div class="elementor-widget-container">
			
<div class="about-box-layout2">
    <ul>
        <li><a href="/signin" >
        					<i class="fa fa-phone" aria-hidden="true"></i>
				
		Chat With A Doctor</a></li>       
    </ul>
</div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-59da504 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="59da504" data-element_type="section" id="service" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-73de240" data-id="73de240" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-ea10da4 elementor-invisible elementor-widget elementor-widget-rt-title" data-id="ea10da4" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-widget_type="rt-title.default">
				<div class="elementor-widget-container">
					<div class="rt-el-title section-heading heading-dark text-center heading-layout1 style1 theme3">		
							<p class="rtin-subtitle">Who we serve</p>
			
			<h2 class="rtin-title">Our Medical Services</h2>
		</div>
		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-b464b59 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b464b59" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-96171fc" data-id="96171fc" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-e5e3477 elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="e5e3477" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-wobble-to-bottom-right" >
				<i aria-hidden="true" class="fas fa-hand-holding-medical"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span >Health Facilities & Systems</span>
				</h3>
								<p class="elementor-icon-box-description">Facilities across the care continuum need timely expertise to provide the best possible care to patients in their communities. Our Joint Commission accredited multi-specialty group provides a turnkey telemedicine solution for  hospitals, LTACHS, skilled nursing, and assisted living centers.</p>
							</div>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-721376f" data-id="721376f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-2c1fd93 elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="2c1fd93" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-wobble-to-bottom-right" >
				<i aria-hidden="true" class="fas fa-heartbeat"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span >Remote Patient Monitoring</span>
				</h3>
								<p class="elementor-icon-box-description">Patients and health professionals have a common goal of promoting health while diverting unnecessary visits to higher levels of care.  We serve employers, facilities, providers and patients with remote monitoring and health assessments. We meet the great need of tele-health connection.</p>
							</div>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-d8ef8df" data-id="d8ef8df" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-ba26dcb elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="ba26dcb" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-wobble-to-bottom-right" >
				<i aria-hidden="true" class="fas fa-people-arrows"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span >Employees and Brokers</span>
				</h3>
								<p class="elementor-icon-box-description">Employers are currently overspending on healthcare while they are slacking their focus on an at-risk demographic.  We  at medic media serve our employers with exceptional targeted systems like a visit-fee-only value through virtual primary care, urgent care, behavioral health and other specialties.  </p>
							</div>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-a7cc6bb elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a7cc6bb" data-element_type="section" id="speciality" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f3ca38b" data-id="f3ca38b" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-1eb821c elementor-widget elementor-widget-rt-title" data-id="1eb821c" data-element_type="widget" data-widget_type="rt-title.default">
				<div class="elementor-widget-container">
					<div class="rt-el-title section-heading heading-dark text-center heading-layout1 style1 theme4">		
							<p class="rtin-subtitle">We are Singularly focused on Zero.</p>
			
			<h2 class="rtin-title">What’s Our Specialty</h2>
		</div>
		</div>
				</div>
				<div class="elementor-element elementor-element-d6abf33 elementor-widget elementor-widget-rt-services-tab" data-id="d6abf33" data-element_type="widget" data-widget_type="rt-services-tab.default">
				<div class="elementor-widget-container">
			      
  <div class="services-tab1">
                                                                           <nav>
            <div class="nav nav-tabs nav-fill nav-wrap" id="nav-tab" role="tablist"><a class="nav-item nav-link active"  data-toggle="tab" href="#162329144589-1711">SEE ONE DOCTOR</a><a class="nav-item nav-link "  data-toggle="tab" href="#162329144589-1712">NEXT AVAILABLE DOCTOR</a><a class="nav-item nav-link "  data-toggle="tab" href="#162329144589-1703">MEMBERSHIP</a></div>
        </nav>
           <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent"> <div class="tab-pane fade show active" id="162329144589-1711">
                            <div class="row no-gutter"><div class="services-tab-content col-lg-5 col-md-12 col-sm-12 col-xs-12"><h3 class="item-title">Certified Doctors & Using Modern Technology</h3>
                            <p>Visit requests available within
48 hours
Choose to have an ongoing medical relationship with one Cura Primary Care Provider
Another Question? Open Chat for 72 hours after visit</p> <ul class="list-info"><li>ONLINE DOCTOR VISITS</li><li>REMOTE PATIENT MONITORING</li><li>HOSPITAL SUPPORT</li></ul><a class="item-btn iconlight" href="/signup"> Register Now <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a></div><div class="item-img col-lg-7 col-md-12 col-sm-12 col-xs-12"> <img width="674" height="564" src="/wp-content/uploads/2019/02/banner-1.jpg" class="services-img wp-post-image" alt="" loading="lazy" srcset="https://test.bougieamerica.com//wp-content/uploads/2019/02/banner-1.jpg 674w, https://test.bougieamerica.com//wp-content/uploads/2019/02/banner-1-300x251.jpg 300w, https://test.bougieamerica.com//wp-content/uploads/2019/02/banner-1-600x502.jpg 600w" sizes="(max-width: 674px) 100vw, 674px" /></div></div>                             
                        </div> <div class="tab-pane fade show " id="162329144589-1712">
                            <div class="row no-gutter"><div class="services-tab-content col-lg-12 col-xs-12"><h3 class="item-title">Together we can Achieve more things</h3>
                            <p>Visit requests available within
minutes
Next Available Physician will always have access to your previous records with Cura providers
Another Question? Open Chat for 72 hours after visit</p> <ul class="list-info"><li>Zero unexpected urgent care and ER visits.</li><li>Zero missed opportunities.</li><li>Zero waiting room time.</li><li>Zero drive time.</li></ul><a class="item-btn iconlight" href="/signup"> Register Now <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a></div></div>                             
                        </div> <div class="tab-pane fade show " id="162329144589-1703">
                            <div class="row no-gutter"><div class="services-tab-content col-lg-5 col-md-12 col-sm-12 col-xs-12"><h3 class="item-title">MEMBERSHIP</h3>
                            <p>Doctors Always Available
Discount Medications (save so much you often pay for the membership)
Discount At Home Lab Testing
Your Cura TeleHealth Membership provides message-based access to your providerDoctors Always Available
Discount Medications (save so much you often pay for the membership)
Discount At Home Lab Testing
Your Cura TeleHealth Membership provides message-based access to your provider</p> <a class="item-btn iconlight" href="/signup"> Register Now <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a></div><div class="item-img col-lg-7 col-md-12 col-sm-12 col-xs-12"> <img width="674" height="564" src="/wp-content/uploads/2019/02/banner-s2.jpg" class="services-img wp-post-image" alt="" loading="lazy" srcset="https://test.bougieamerica.com//wp-content/uploads/2019/02/banner-s2.jpg 674w, https://test.bougieamerica.com//wp-content/uploads/2019/02/banner-s2-300x251.jpg 300w, https://test.bougieamerica.com//wp-content/uploads/2019/02/banner-s2-600x502.jpg 600w" sizes="(max-width: 674px) 100vw, 674px" /></div></div>                             
                        </div></div>
    </div>
    		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-ddb6bb9 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ddb6bb9" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-818cdaf" data-id="818cdaf" data-element_type="column" id="features">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-f15d1bb elementor-invisible elementor-widget elementor-widget-rt-title" data-id="f15d1bb" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-widget_type="rt-title.default">
				<div class="elementor-widget-container">
					<div class="rt-el-title section-heading heading-dark text-center heading-layout1 style1 theme2">		
							<p class="rtin-subtitle">How it helps you stay Healthy</p>
			
			<h2 class="rtin-title">Our Features</h2>
		</div>
		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-ef81ce5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ef81ce5" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-01e6426" data-id="01e6426" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-20e1155 elementor-widget elementor-widget-rt-info-box" data-id="20e1155" data-element_type="widget" data-widget_type="rt-info-box.default">
				<div class="elementor-widget-container">
			<div class="rt-el-info-box clearfix rtin-style4 rtin-light">
	<div class="rt-number">
		<span></span>	
	</div>
	<div class="rtin-icon">	
		<img width="315" height="315" src="/wp-content/uploads/2019/02/care1-315x315.png" class="attachment-medilink-size315 size-medilink-size315" alt="" loading="lazy" />	
	</div>
	<div class="rtin-content">
		<h3 class="rtin-title">Clinic Registration</h3>
		<p class="rtin-text">Clinics can now register on Medic Media and move their doctors with them.</p>
	</div>
</div>		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-133fd57" data-id="133fd57" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-45dbcb2 elementor-widget elementor-widget-rt-info-box" data-id="45dbcb2" data-element_type="widget" data-widget_type="rt-info-box.default">
				<div class="elementor-widget-container">
			<div class="rt-el-info-box clearfix rtin-style4 rtin-light">
	<div class="rt-number">
		<span></span>	
	</div>
	<div class="rtin-icon">	
		<img width="315" height="315" src="/wp-content/uploads/2019/02/care2-315x315.jpg" class="attachment-medilink-size315 size-medilink-size315" alt="" loading="lazy" />	
	</div>
	<div class="rtin-content">
		<h3 class="rtin-title">Live Consultation</h3>
		<p class="rtin-text">Clincs can provide live consultation to patients and invite freelance physicians.</p>
	</div>
</div>		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-9fe72a2" data-id="9fe72a2" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-9f9eb91 elementor-widget elementor-widget-rt-info-box" data-id="9f9eb91" data-element_type="widget" data-widget_type="rt-info-box.default">
				<div class="elementor-widget-container">
			<div class="rt-el-info-box clearfix rtin-style4 rtin-light">
	<div class="rt-number">
		<span></span>	
	</div>
	<div class="rtin-icon">	
		<img width="315" height="315" src="/wp-content/uploads/2019/02/care3-315x315.jpg" class="attachment-medilink-size315 size-medilink-size315" alt="" loading="lazy" />	
	</div>
	<div class="rtin-content">
		<h3 class="rtin-title">Patient Profile</h3>
		<p class="rtin-text">Medic media enables user registration and connection to a physician on the go.</p>
	</div>
</div>		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-e3a913b" data-id="e3a913b" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-56cc861 elementor-widget elementor-widget-rt-info-box" data-id="56cc861" data-element_type="widget" data-widget_type="rt-info-box.default">
				<div class="elementor-widget-container">
			<div class="rt-el-info-box clearfix rtin-style4 rtin-light">
	<div class="rt-number">
		<span></span>	
	</div>
	<div class="rtin-icon">	
		<img width="315" height="315" src="/wp-content/uploads/2019/02/care4-315x315.jpg" class="attachment-medilink-size315 size-medilink-size315" alt="" loading="lazy" />	
	</div>
	<div class="rtin-content">
		<h3 class="rtin-title">See A Doctor</h3>
		<p class="rtin-text">Choose to have an ongoing medical relationship with one of our physicians.</p>
	</div>
</div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-100f4c0 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="100f4c0" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4051259" data-id="4051259" data-element_type="column" id="appointment">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-01365c7 elementor-widget elementor-widget-rt-cta" data-id="01365c7" data-element_type="widget" data-widget_type="rt-cta.default">
				<div class="elementor-widget-container">
			<div class="call-to-action-box-layout6">
            <p class="item-sub-title">Need a Doctor for Check-up?</p>
       
          <h2 class="item-title">just make an appointment &amp; you're done!</h2>
          
        <div class="call-to-action-btn">
        <a class="item-btn" href="/signin">Make an Appointment</a>                                  
    </div>      
       
</div>
		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-f56668e vcenter-section elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f56668e" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-513b040" data-id="513b040" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-56bcb41 elementor-widget elementor-widget-rt-counter" data-id="56bcb41" data-element_type="widget" data-widget_type="rt-counter.default">
				<div class="elementor-widget-container">
			<div class="progress-box-layout1">
	<div class="inner-item">
			<div class="item-icon">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
				    </div>
	    <div class="item-content">	           
	        <div class="rt-el-counter rtin-counter counting-text counter"><span class="rt-counter-num" data-num="22" data-rtspeed="5000" data-rtsteps="10">22</span></div>
	        	<p>Years of Experience</p>
	    </div>
	</div>
</div>
		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-de9ac23" data-id="de9ac23" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-69e7af9 elementor-widget elementor-widget-rt-counter" data-id="69e7af9" data-element_type="widget" data-widget_type="rt-counter.default">
				<div class="elementor-widget-container">
			<div class="progress-box-layout1">
	<div class="inner-item">
			<div class="item-icon">
						<i class="fa fa-handshake-o" aria-hidden="true"></i>
				    </div>
	    <div class="item-content">	           
	        <div class="rt-el-counter rtin-counter counting-text counter"><span class="rt-counter-num" data-num="390" data-rtspeed="5000" data-rtsteps="10">390</span></div>
	        	<p>Medical Specialties</p>
	    </div>
	</div>
</div>
		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-8bbd31e" data-id="8bbd31e" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-a52bfeb elementor-widget elementor-widget-rt-counter" data-id="a52bfeb" data-element_type="widget" data-widget_type="rt-counter.default">
				<div class="elementor-widget-container">
			<div class="progress-box-layout1">
	<div class="inner-item">
			<div class="item-icon">
						<i class="fa fa-heartbeat" aria-hidden="true"></i>
				    </div>
	    <div class="item-content">	           
	        <div class="rt-el-counter rtin-counter counting-text counter"><span class="rt-counter-num" data-num="559" data-rtspeed="5000" data-rtsteps="10">559</span></div>
	        	<p>Modern Rooms </p>
	    </div>
	</div>
</div>
		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-7531d13" data-id="7531d13" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-7cb3d1d elementor-widget elementor-widget-rt-counter" data-id="7cb3d1d" data-element_type="widget" data-widget_type="rt-counter.default">
				<div class="elementor-widget-container">
			<div class="progress-box-layout1">
	<div class="inner-item">
			<div class="item-icon">
						<i class="fa fa-child" aria-hidden="true"></i>
				    </div>
	    <div class="item-content">	           
	        <div class="rt-el-counter rtin-counter counting-text counter"><span class="rt-counter-num" data-num="6930" data-rtspeed="5000" data-rtsteps="10">6930</span></div>
	        	<p>Happy Patients</p>
	    </div>
	</div>
</div>
		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-3e1996f elementor-section-stretched Contact elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3e1996f" data-element_type="section" id="contact" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e8de6c2" data-id="e8de6c2" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-15d2978 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="15d2978" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6b76831" data-id="6b76831" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-56a5ea2 elementor-widget elementor-widget-google_maps" data-id="56a5ea2" data-element_type="widget" data-widget_type="google_maps.default">
				<div class="elementor-widget-container">
			<div class="elementor-custom-embed"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=United%20states&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" title="United states" aria-label="United states"></iframe></div>		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2939af6" data-id="2939af6" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-125656d elementor-widget elementor-widget-shortcode" data-id="125656d" data-element_type="widget" data-widget_type="shortcode.default">
				<div class="elementor-widget-container">
					<div class="elementor-shortcode"><div role="form" class="wpcf7" id="wpcf7-f5-p2509-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>

</br>
<form> 

</form>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
					</div>
</article>															</main>
			</div>
					</div>
	</div>
</div>

</div><!-- #content -->

<!-- Footer Area Start Here -->
<footer>
	<div class="footer-layout1">
				    <section class="footer-top-wrap">
		        <div class="container">
		            <div class="row">
		            	<div class="col-sm-6 col-md-6 col-lg-3 col-xs-12 single-item"><div id="medilink_about-3" class="widget footer-box widget_medilink_about"><div class="footer-logo"><a class="footer-widget-logo" href="index.html"><img width="853" height="237" src="/wp-content/uploads/medic-media-logo.png" class="attachment-full size-full" alt="" loading="lazy" /></a></div>		<div class="footer-about"><p class="rtin-des">Medic media - Live Chat,
Live Clinic Visitations,
Checkups, Patient Profile.</p></div>
		<div class="footer-contact-info">	
			<ul>
				<li><i class="fas fa-phone" aria-hidden="true"></i> <a href="tel:0123456789">0123456789</a></li><li><i class="far fa-envelope" aria-hidden="true"></i> <a href="mailto:info@medicmedia.com">info@medicmedia.com</a></li>			</ul>
		</div>
		<div class="footer-social">
		<ul>
					</ul>
	</div>
		</div></div><div class="col-sm-6 col-md-6 col-lg-3 col-xs-12 single-item"><div id="text-4" class="widget footer-box widget_text"><div class="footer-header"><h3 class="widgettitle ">Opening Hours</h3></div>			<div class="textwidget"><p>Monday: 9:00 &#8211; 17:00<br />
Tuesday: 9:00 &#8211; 17:00<br />
Wednesday: 9:00 &#8211; 17:00<br />
Thursday: 9:00 &#8211; 17:00<br />
Friday: 9:00 &#8211; 17:00<br />
Saturday: 11:00 &#8211; 15:00</p>
</div>
		</div></div><div class="col-sm-6 col-md-6 col-lg-3 col-xs-12 single-item"><div id="nav_menu-5" class="widget footer-box widget_nav_menu"><div class="footer-header"><h3 class="widgettitle ">Visit Types</h3></div><div class="menu-quick-links-container"><ul id="menu-quick-links" class="menu"><li id="menu-item-2016" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2016"><a>Video Consultation</a></li>
<li id="menu-item-2015" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2015"><a>Health Webinar</a></li>
<li id="menu-item-2013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2013"><a>Live Checkup</a></li>
<li id="menu-item-2014" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2014"><a>Audio Consultation</a></li>
<li id="menu-item-2012" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2012"><a>Clinic Registration</a></li>
</ul></div></div></div><div class="col-sm-6 col-md-6 col-lg-3 col-xs-12 single-item"><div id="nav_menu-3" class="widget footer-box widget_nav_menu"><div class="footer-header"><h3 class="widgettitle ">Departments</h3></div><div class="menu-dept-container"><ul id="menu-dept" class="menu"><li id="menu-item-3079" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3079"><a>Primary care</a></li>
<li id="menu-item-3080" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3080"><a>Gynecology</a></li>
<li id="menu-item-3081" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3081"><a>Eye care</a></li>
<li id="menu-item-3082" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3082"><a>Dental care</a></li>
<li id="menu-item-3083" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3083"><a>Cardiology</a></li>
</ul></div></div></div>		            </div>
		        </div>
		    </section>
	    		    	    		    <section class="footer-bottom-wrap">
		        <div class="copyright">&copy; Copyright MedicMedia 2021. All Right Reserved. Designed and Developed by KT</div>
		    </section>
	    	</div>
</footer>
<!-- Footer Area End Here -->

<!-- Search Box Start Here -->

<div id="header-search" class="header-search">

	<button type="button" class="close">×</button>

		<form class="header-search-form">				   

		    	<input type="search" name="s" class="search-text" placeholder="Search Here..." required>

		    <button type="submit" class="search-btn">

		        <i class="flaticon-search"></i>

		    </button>

		</form>

</div>

<!-- Search Box End Here -->

</div>

<a href="#" class="scrollToTop"><i class="fa fa-angle-double-up"></i></a>
<div id="yith-quick-view-modal">
	<div class="yith-quick-view-overlay"></div>
	<div class="yith-wcqv-wrapper">
		<div class="yith-wcqv-main">
			<div class="yith-wcqv-head">
				<a href="#" id="yith-quick-view-close" class="yith-wcqv-close">X</a>
			</div>
			<div id="yith-quick-view-content" class="woocommerce single-product"></div>
		</div>
	</div>
</div>
	<script type="text/javascript">
		(function () {
			var c = document.body.className;
			c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
			document.body.className = c;
		})()
	</script>
	
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="pswp__bg"></div>
	<div class="pswp__scroll-wrap">
		<div class="pswp__container">
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
		</div>
		<div class="pswp__ui pswp__ui--hidden">
			<div class="pswp__top-bar">
				<div class="pswp__counter"></div>
				<button class="pswp__button pswp__button--close" aria-label="Close (Esc)"></button>
				<button class="pswp__button pswp__button--share" aria-label="Share"></button>
				<button class="pswp__button pswp__button--fs" aria-label="Toggle fullscreen"></button>
				<button class="pswp__button pswp__button--zoom" aria-label="Zoom in/out"></button>
				<div class="pswp__preloader">
					<div class="pswp__preloader__icn">
						<div class="pswp__preloader__cut">
							<div class="pswp__preloader__donut"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
				<div class="pswp__share-tooltip"></div>
			</div>
			<button class="pswp__button pswp__button--arrow--left" aria-label="Previous (arrow left)"></button>
			<button class="pswp__button pswp__button--arrow--right" aria-label="Next (arrow right)"></button>
			<div class="pswp__caption">
				<div class="pswp__caption__center"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/template" id="tmpl-variation-template">
	<div class="woocommerce-variation-description">{{{ data.variation.variation_description }}}</div>
	<div class="woocommerce-variation-price">{{{ data.variation.price_html }}}</div>
	<div class="woocommerce-variation-availability">{{{ data.variation.availability_html }}}</div>
</script>
<script type="text/template" id="tmpl-unavailable-variation-template">
	<p>Sorry, this product is unavailable. Please choose a different combination.</p>
</script>
<link rel='stylesheet' id='magnific-popup-css'  href='/wp-content/themes/medilink/assets/css/magnific-popupcc1a.css?ver=1.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='photoswipe-css'  href='/wp-content/plugins/woocommerce/assets/css/photoswipe/photoswipe.minbb93.css?ver=5.0.0' type='text/css' media='all' />
<link rel='stylesheet' id='photoswipe-default-skin-css'  href='/wp-content/plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin.minbb93.css?ver=5.0.0' type='text/css' media='all' />
<script type='text/javascript' src='/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min7359.js?ver=1.2.0' id='jquery-selectBox-js'></script>
<script type='text/javascript' id='jquery-yith-wcwl-js-extra'>
/* <![CDATA[ */
var yith_wcwl_l10n = {"ajax_url":"\/wp-admin\/admin-ajax.php","redirect_to_cart":"no","multi_wishlist":"","hide_add_button":"1","enable_ajax_loading":"","ajax_loader_url":"https:\/\/test.bougieamerica.com\/wp-content\/plugins\/yith-woocommerce-wishlist\/assets\/images\/ajax-loader-alt.svg","remove_from_wishlist_after_add_to_cart":"1","is_wishlist_responsive":"1","time_to_close_prettyphoto":"3000","fragments_index_glue":".","reload_on_found_variation":"1","mobile_media_query":"768","labels":{"cookie_disabled":"We are sorry, but this feature is available only if cookies on your browser are enabled.","added_to_cart_message":"<div class=\"woocommerce-notices-wrapper\"><div class=\"woocommerce-message\" role=\"alert\">Product added to cart successfully<\/div><\/div>"},"actions":{"add_to_wishlist_action":"add_to_wishlist","remove_from_wishlist_action":"remove_from_wishlist","reload_wishlist_and_adding_elem_action":"reload_wishlist_and_adding_elem","load_mobile_action":"load_mobile","delete_item_action":"delete_item","save_title_action":"save_title","save_privacy_action":"save_privacy","load_fragments":"load_fragments"}};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl.minf214.js?ver=3.0.20' id='jquery-yith-wcwl-js'></script>
<script type='text/javascript' src='/wp-includes/js/dist/vendor/wp-polyfill.min89b1.js?ver=7.4.4' id='wp-polyfill-js'></script>
<script type='text/javascript' id='wp-polyfill-js-after'>
( 'fetch' in window ) || document.write( '<script src="/wp-includes/js/dist/vendor/wp-polyfill-fetch.min6e0e.js?ver=3.0.0"></scr' + 'ipt>' );( document.contains ) || document.write( '<script src="/wp-includes/js/dist/vendor/wp-polyfill-node-contains.min2e00.js?ver=3.42.0"></scr' + 'ipt>' );( window.DOMRect ) || document.write( '<script src="/wp-includes/js/dist/vendor/wp-polyfill-dom-rect.min2e00.js?ver=3.42.0"></scr' + 'ipt>' );( window.URL && window.URL.prototype && window.URLSearchParams ) || document.write( '<script src="/wp-includes/js/dist/vendor/wp-polyfill-url.min5aed.js?ver=3.6.4"></scr' + 'ipt>' );( window.FormData && window.FormData.prototype.keys ) || document.write( '<script src="/wp-includes/js/dist/vendor/wp-polyfill-formdata.mine9bd.js?ver=3.0.12"></scr' + 'ipt>' );( Element.prototype.matches && Element.prototype.closest ) || document.write( '<script src="/wp-includes/js/dist/vendor/wp-polyfill-element-closest.min4c56.js?ver=2.0.2"></scr' + 'ipt>' );
</script>
<script type='text/javascript' src='/wp-includes/js/dist/i18n.mina706.js?ver=ac389435e7fd4ded01cf603f3aaba6a6' id='wp-i18n-js'></script>
<script type='text/javascript' src='/wp-includes/js/dist/vendor/lodash.minf492.js?ver=4.17.19' id='lodash-js'></script>
<script type='text/javascript' id='lodash-js-after'>
window.lodash = _.noConflict();
</script>
<script type='text/javascript' src='/wp-includes/js/dist/url.min534b.js?ver=98645f0502e5ed8dadffd161e39072d2' id='wp-url-js'></script>
<script type='text/javascript' src='/wp-includes/js/dist/hooks.min110c.js?ver=84b89ab09cbfb4469f02183611cc0939' id='wp-hooks-js'></script>
<script type='text/javascript' id='wp-api-fetch-js-translations'>
( function( domain, translations ) {
	var localeData = translations.locale_data[ domain ] || translations.locale_data.messages;
	localeData[""].domain = domain;
	wp.i18n.setLocaleData( localeData, domain );
} )( "default", { "locale_data": { "messages": { "": {} } } } );
</script>
<script type='text/javascript' src='/wp-includes/js/dist/api-fetch.min44e0.js?ver=4dec825c071b87c57f687eb90f7c23c3' id='wp-api-fetch-js'></script>
<script type='text/javascript' id='wp-api-fetch-js-after'>
wp.apiFetch.use( wp.apiFetch.createRootURLMiddleware( "/wp-json/index.html" ) );
wp.apiFetch.nonceMiddleware = wp.apiFetch.createNonceMiddleware( "8ea62327f0" );
wp.apiFetch.use( wp.apiFetch.nonceMiddleware );
wp.apiFetch.use( wp.apiFetch.mediaUploadMiddleware );
wp.apiFetch.nonceEndpoint = "https://test.bougieamerica.com/wp-admin/admin-ajax.php?action=rest-nonce";
</script>
<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/index91d5.js?ver=5.4' id='contact-form-7-js'></script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70' id='jquery-blockui-js'></script>
<script type='text/javascript' id='wc-add-to-cart-js-extra'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/test.bougieamerica.com","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.minbb93.js?ver=5.0.0' id='wc-add-to-cart-js'></script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4' id='js-cookie-js'></script>
<script type='text/javascript' id='woocommerce-js-extra'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.minbb93.js?ver=5.0.0' id='woocommerce-js'></script>
<script type='text/javascript' id='wc-cart-fragments-js-extra'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_c56f715e1cdf4795aad9fe09c1b87a57","fragment_name":"wc_fragments_c56f715e1cdf4795aad9fe09c1b87a57","request_timeout":"5000"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.minbb93.js?ver=5.0.0' id='wc-cart-fragments-js'></script>
<script type='text/javascript' id='yith-wcqv-frontend-js-extra'>
/* <![CDATA[ */
var yith_qv = {"ajaxurl":"\/wp-admin\/admin-ajax.php","loader":"https:\/\/test.bougieamerica.com\/wp-content\/plugins\/yith-woocommerce-quick-view\/assets\/image\/qv-loader.gif","lang":""};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/yith-woocommerce-quick-view/assets/js/frontend.mincc1a.js?ver=1.5.1' id='yith-wcqv-frontend-js'></script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min005e.js?ver=3.1.6' id='prettyPhoto-js'></script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/select2/select2.full.minfa0c.js?ver=4.0.3' id='select2-js'></script>
<script type='text/javascript' src='/wp-content/themes/medilink/assets/js/bootstrap.mincc1a.js?ver=1.5.1' id='bootstrap-js'></script>
<script type='text/javascript' src='/wp-content/themes/medilink/assets/js/jquery.meanmenu.mincc1a.js?ver=1.5.1' id='jquery-meanmenu-js'></script>
<script type='text/javascript' src='/wp-content/themes/medilink/assets/js/jquery.nav.mincc1a.js?ver=1.5.1' id='jquery-nav-js'></script>
<script type='text/javascript' src='/wp-content/themes/medilink/assets/js/ResizeSensor.mincc1a.js?ver=1.5.1' id='resizeSensor-js'></script>
<script type='text/javascript' src='/wp-content/themes/medilink/assets/js/theia-sticky-sidebar.mincc1a.js?ver=1.5.1' id='theia-sticky-sidebar-js'></script>
<script type='text/javascript' id='medilink-main-js-extra'>
/* <![CDATA[ */
var medilinkObj = {"ajaxurl":"https:\/\/test.bougieamerica.com\/wp-admin\/admin-ajax.php","hasAdminBar":"0","headerStyle":"1","meanWidth":"1024","primaryColor":"#581b98","seconderyColor":"#3a157f","siteLogo":"<a href=\"https:\/\/test.bougieamerica.com\/\" alt=\"Medic Media\"><img class=\"logo-small\" src=\"http:\/\/test.bougieamerica.com\/wp-content\/uploads\/2021\/03\/medic-media-logo.png\" \/><\/a>","day":"Day","hour":"Hour","minute":"Minute","second":"Second","extraOffset":"75","extraOffsetMobile":"52","rtl":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/themes/medilink/assets/js/maincc1a.js?ver=1.5.1' id='medilink-main-js'></script>
<script type='text/javascript' src='/wp-includes/js/wp-embed.min77e1.js?ver=5.6.4' id='wp-embed-js'></script>
<script type='text/javascript' src='/wp-includes/js/imagesloaded.mineda1.js?ver=4.1.4' id='imagesloaded-js'></script>
<script type='text/javascript' src='/wp-content/themes/medilink/assets/js/jquery.magnific-popup.mincc1a.js?ver=1.5.1' id='jquery-magnific-popup-js'></script>
<script type='text/javascript' src='/wp-content/themes/medilink/assets/js/waypoints.mincc1a.js?ver=1.5.1' id='waypoints-js'></script>
<script type='text/javascript' src='/wp-content/themes/medilink/assets/js/jquery.counterup.mincc1a.js?ver=1.5.1' id='jquery-counterup-js'></script>
<script type='text/javascript' src='/wp-includes/js/underscore.min4511.js?ver=1.8.3' id='underscore-js'></script>
<script type='text/javascript' id='wp-util-js-extra'>
/* <![CDATA[ */
var _wpUtilSettings = {"ajax":{"url":"\/wp-admin\/admin-ajax.php"}};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-includes/js/wp-util.min77e1.js?ver=5.6.4' id='wp-util-js'></script>
<script type='text/javascript' id='wc-add-to-cart-variation-js-extra'>
/* <![CDATA[ */
var wc_add_to_cart_variation_params = {"wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_no_matching_variations_text":"Sorry, no products matched your selection. Please choose a different combination.","i18n_make_a_selection_text":"Please select some product options before adding this product to your cart.","i18n_unavailable_text":"Sorry, this product is unavailable. Please choose a different combination."};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.minbb93.js?ver=5.0.0' id='wc-add-to-cart-variation-js'></script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe.min0235.js?ver=4.1.1' id='photoswipe-js'></script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe-ui-default.min0235.js?ver=4.1.1' id='photoswipe-ui-default-js'></script>
<script type='text/javascript' id='wc-single-product-js-extra'>
/* <![CDATA[ */
var wc_single_product_params = {"i18n_required_rating_text":"Please select a rating","review_rating_required":"yes","flexslider":{"rtl":false,"animation":"slide","smoothHeight":true,"directionNav":false,"controlNav":"thumbnails","slideshow":false,"animationSpeed":500,"animationLoop":false,"allowOneSlide":false},"zoom_enabled":"","zoom_options":[],"photoswipe_enabled":"1","photoswipe_options":{"shareEl":false,"closeOnScroll":false,"history":false,"hideAnimationDuration":0,"showAnimationDuration":0},"flexslider_enabled":""};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/woocommerce/assets/js/frontend/single-product.minbb93.js?ver=5.0.0' id='wc-single-product-js'></script>
<script type='text/javascript' src='/wp-content/plugins/elementor/assets/js/webpack.runtime.min583f.js?ver=3.1.3' id='elementor-webpack-runtime-js'></script>
<script type='text/javascript' src='/wp-content/plugins/elementor/assets/js/frontend-modules.min583f.js?ver=3.1.3' id='elementor-frontend-modules-js'></script>
<script type='text/javascript' src='/wp-content/plugins/elementor-pro/assets/lib/sticky/jquery.sticky.min521d.js?ver=3.0.10' id='elementor-sticky-js'></script>
<script type='text/javascript' id='elementor-pro-frontend-js-before'>
var ElementorProFrontendConfig = {"ajaxurl":"https:\/\/test.bougieamerica.com\/wp-admin\/admin-ajax.php","nonce":"5e74753843","i18n":{"toc_no_headings_found":"No headings were found on this page."},"shareButtonsNetworks":{"facebook":{"title":"Facebook","has_counter":true},"twitter":{"title":"Twitter"},"google":{"title":"Google+","has_counter":true},"linkedin":{"title":"LinkedIn","has_counter":true},"pinterest":{"title":"Pinterest","has_counter":true},"reddit":{"title":"Reddit","has_counter":true},"vk":{"title":"VK","has_counter":true},"odnoklassniki":{"title":"OK","has_counter":true},"tumblr":{"title":"Tumblr"},"digg":{"title":"Digg"},"skype":{"title":"Skype"},"stumbleupon":{"title":"StumbleUpon","has_counter":true},"mix":{"title":"Mix"},"telegram":{"title":"Telegram"},"pocket":{"title":"Pocket","has_counter":true},"xing":{"title":"XING","has_counter":true},"whatsapp":{"title":"WhatsApp"},"email":{"title":"Email"},"print":{"title":"Print"}},"menu_cart":{"cart_page_url":"https:\/\/test.bougieamerica.com","checkout_page_url":"https:\/\/test.bougieamerica.com"},"facebook_sdk":{"lang":"en_US","app_id":""},"lottie":{"defaultAnimationUrl":"https:\/\/test.bougieamerica.com\/wp-content\/plugins\/elementor-pro\/modules\/lottie\/assets\/animations\/default.json"}};
</script>
<script type='text/javascript' src='/wp-content/plugins/elementor-pro/assets/js/frontend.min521d.js?ver=3.0.10' id='elementor-pro-frontend-js'></script>
<script type='text/javascript' src='/wp-includes/js/jquery/ui/core.min35d0.js?ver=1.12.1' id='jquery-ui-core-js'></script>
<script type='text/javascript' src='/wp-content/plugins/elementor/assets/lib/dialog/dialog.mina288.js?ver=4.8.1' id='elementor-dialog-js'></script>
<script type='text/javascript' src='/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min05da.js?ver=4.0.2' id='elementor-waypoints-js'></script>
<script type='text/javascript' src='/wp-content/plugins/elementor/assets/lib/share-link/share-link.min583f.js?ver=3.1.3' id='share-link-js'></script>
<script type='text/javascript' src='/wp-content/plugins/elementor/assets/lib/swiper/swiper.min48f5.js?ver=5.3.6' id='swiper-js'></script>
<script type='text/javascript' id='elementor-frontend-js-before'>
var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false,"isImprovedAssetsLoading":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","download":"Download","downloadImage":"Download image","fullscreen":"Fullscreen","zoom":"Zoom","share":"Share","playVideo":"Play Video","previous":"Previous","next":"Next","close":"Close"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"version":"3.1.3","is_static":false,"experimentalFeatures":[],"urls":{"assets":"https:\/\/test.bougieamerica.com\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description"},"post":{"id":2509,"title":"Medic%20Media%20%E2%80%93%20Telemedicine%20is%20The%20Future%20of%20Medicine","excerpt":"","featuredImage":false}};
</script>
<script type='text/javascript' src='/wp-content/plugins/elementor/assets/js/frontend.min583f.js?ver=3.1.3' id='elementor-frontend-js'></script>
<script type='text/javascript' src='/wp-content/plugins/elementor/assets/js/preloaded-elements-handlers.min583f.js?ver=3.1.3' id='preloaded-elements-handlers-js'></script>

</body>

